# ---------------------------------------------------------------------------
# File name:    SMB.CNF                            Revision Date: 2010.06.03
# Created by:   Ronald Andersson                   Creation Date: 2010.05.29
# ---------------------------------------------------------------------------
# Purpose:      Define SMB servers for the SMB implementation of wLaunchELF
# ---------------------------------------------------------------------------
# NB: You need to edit these to suit your own network and your own servers.
# You can use as many or as few of these entries as you please, as long as
# you don't try to use an smbIndex higher than 15 (the max value allowed).
# So the maximum number of entries acceptable is 16. (Pretty big LAN that :D)
# ---------------------------------------------------------------------------
smbIndex = 0
smbServer_IP = 192.168.10.64
smbServer_Port = 445
smbUsername =
smbPassword =
smbPasswordType = -1
smbClient_ID = ps2
smbServer_ID = RA1
smbServer_FBID = RA1 WinXP
#----------------------------------------------------------------------------
smbIndex = 1
smbServer_IP = 192.168.10.80
smbServer_Port = 445
smbUsername =
smbPassword =
smbPasswordType = -1
smbClient_ID = ps2
smbServer_ID = RA2
smbServer_FBID = RA2 Win2K
#----------------------------------------------------------------------------
smbIndex = 2
smbServer_IP = 192.168.10.96
smbServer_Port = 445
smbUsername =
smbPassword =
smbPasswordType = -1
smbServer_ID = RA3
smbClient_ID = ps2
smbServer_FBID = RA3 WinXP
# ---------------------------------------------------------------------------
smbIndex = 3
smbServer_IP = 192.168.10.64
smbServer_Port = 445
smbUsername = Ronald
smbPassword = aaa
smbPasswordType = 0
smbClient_ID = ps2
smbServer_ID = RA1
smbServer_FBID = RA1 WinXP
#----------------------------------------------------------------------------
smbIndex = 4
smbServer_IP = 192.168.10.80
smbServer_Port = 445
smbUsername = Ronald
smbPassword = aaa
smbPasswordType = 0
smbClient_ID = ps2
smbServer_ID = RA2
smbServer_FBID = RA2 Win2K
#----------------------------------------------------------------------------
smbIndex = 5
smbServer_IP = 192.168.10.96
smbServer_Port = 445
smbUsername = Ronald
smbPassword = aaa
smbPasswordType = 0
smbServer_ID = RA3
smbClient_ID = ps2
smbServer_FBID = RA3 WinXP
# ---------------------------------------------------------------------------
smbIndex = 6
smbServer_IP = 192.168.10.64
smbServer_Port = 445
smbUsername = Ronald
smbPassword = aaa
smbPasswordType = 1
smbClient_ID = ps2
smbServer_ID = RA1
smbServer_FBID = RA1 WinXP
#----------------------------------------------------------------------------
smbIndex = 7
smbServer_IP = 192.168.10.80
smbServer_Port = 445
smbUsername = Ronald
smbPassword = aaa
smbPasswordType = 1
smbClient_ID = ps2
smbServer_ID = RA2
smbServer_FBID = RA2 Win2K
#----------------------------------------------------------------------------
smbIndex = 8
smbServer_IP = 192.168.10.96
smbServer_Port = 445
smbUsername = Ronald
smbPassword = aaa
smbPasswordType = 1
smbServer_ID = RA3
smbClient_ID = ps2
smbServer_FBID = RA3 WinXP
#----------------------------------------------------------------------------
# End of file: SMB.CNF
#----------------------------------------------------------------------------
